.project-box{
    width:96%;
    margin-right:2%;
    margin-left:2%;
    height:600px;
    background-color:white;
    text-align: center;
    justify-content: center;
    border-color: black;
}

.project{
    border-style: solid;
    text-align: center;
    border-radius: 25px;
    border-color: black;
    background-color:white;
}

.projct-image:hover{
    background-color: black !important;
    box-shadow: 10px 10px 5px #888;
    z-index: 999;
}

.project-content{

    width:96%;
    margin-right:2%;
    margin-left:2%;
    background-color: white;
    color: black;
    margin-top:30px;
    margin-bottom:30px;
    border-style: solid;
    border-radius: 25px;
}

.project-body{
    margin-bottom:100px;
}

.projct-content-text{
    margin:20px;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    text-align: left;
}

.project-title{
    margin-top:10px !important;
    margin:10px;
    color:black
}

#Projects > div > div > div:nth-child(4) > div > div.project-box{
    background-position-x: -70px;
}

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
  }
  
  .project:hover .overlay {
    opacity: 0.5;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }